<!-- pre loader -->
<!-- <div class="loader-container">
  <img draggable="false" src="./assets/images/preloader.gif" alt="">
</div> -->

<!-- navbar starts -->
<header>
  <a href="/" class="logo"><i class="fab fa-modx"></i> Portfolio</a>

  <div class="container-fluid mt-3 ">

    <div class="btn btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
      <div   id="menu" class="fas fa-bars mnu"></div>
    </div>
  </div>

  <nav class="navbar">
      <ul>
      <li><a class="active" routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/projects">Work</a></li>
      <li><a routerLink="/education">Education</a></li>
      <li><a routerLink="/experience">Experience</a></li>
      <li><a routerLink="/Certifications">Certifications</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </nav>
</header><br><br><br>

<div class="offcanvas offcanvas-start " id="demo">
  <div class="offcanvas-header ">
    <h1 class="offcanvas-title">Responsive Navbar</h1><br><br>
    <button type="button" class="btn-close clo" data-bs-dismiss="offcanvas"></button>
  </div><br><br><br>
  <div class="offcanvas-body marg ">
    <ul class="list">
      <li><a class="active" routerLink="/home">Home</a></li><br>
      <li><a routerLink="/about">About</a></li><br>
      <li><a routerLink="/skills">Skills</a></li><br>
      <li><a routerLink="/projects">Work</a></li><br>
      <li><a routerLink="/education">Education</a></li><br>
      <li><a routerLink="/experience">Experience</a></li><br>
      <li><a routerLink="/Certifications">Certifications</a></li><br>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </div>
</div>
<!-- navbar ends -->



<!-- hero section starts -->
<section class="home" id="home">
<div id="particles-js"></div>

<div class="content">
<h2>Hi <br> I'm Dinesh <span>Kumar</span></h2><br>
<div class="wrapper">
  <div class="static-txt">I'm </div>
  <ul class="dynamic-txts">

    <li><span>Full Stack Developer</span></li>
    <li><span>Angular Developer</span></li>
    <li><span>Web Developer</span></li>
    <!-- <li><span>Freelancer</span></li> -->
  </ul>
</div><br><br>
<a  class="btn" (click)="downloadPdf()"><span>Resume</span>
<i class="fas fa-arrow-circle-down"></i>
</a>

<div class="socials">
  <ul class="social-icons">
    <li><a class="linkedin" aria-label="LinkedIn" href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a class="github" aria-label="GitHub" href="https://github.com/Dineshcoder0" target="_blank"><i class="fab fa-github"></i></a></li>
    <li><a class="twitter" aria-label="Twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a class="telegram" aria-label="Telegram" href="#" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
    <li><a class="instagram" aria-label="Instagram" href="#"><i class="fab fa-instagram" target="_blank"></i></a></li>
    <!-- <li><a class="dev" aria-label="Dev" href="#" target="_blank"><i class="fab fa-dev"></i></a></li> -->
  </ul>

</div>

</div><br>

<div class="image">
<img draggable="false" class="tilt" src="./assets/img/hero.png" alt="">
<br><br><a routerLink="/about" class="bnt" style="text-align: center;"><span>Next</span>&nbsp;
  <i class="fas fa-arrow-circle-right"></i>
  </a>




</div>








</section>



<!-- hero section ends -->


<!-- scroll top btn -->
<!-- <a href="#home" aria-label="ScrollTop" class="fas fa-angle-up" id="scroll-top"></a> -->
<!-- scroll back to top -->



