<!-- navbar starts -->
<header>
  <a href="/" class="logo"><i class="fab fa-modx"></i> Portfolio</a>
  <div class="container-fluid mt-3 ">

    <div class="btn btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
      <div   id="menu" class="fas fa-bars mnu"></div>
    </div>
  </div>

  <nav class="navbar">
      <ul>
      <li><a class="active" routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/projects">Work</a></li>
      <li><a routerLink="/education">Education</a></li>
      <li><a routerLink="/experience">Experience</a></li>
      <li><a routerLink="/Certifications">Certifications</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </nav>
</header><br><br><br>
<!-- navbar ends -->
<div class="offcanvas offcanvas-start " id="demo">
  <div class="offcanvas-header ">
    <h1 class="offcanvas-title">Responsive Navbar</h1><br><br>
    <button type="button" class="btn-close clo" data-bs-dismiss="offcanvas"></button>
  </div><br><br><br>
  <div class="offcanvas-body marg ">
    <ul class="list">
      <li><a class="active" routerLink="/home">Home</a></li><br>
      <li><a routerLink="/about">About</a></li><br>
      <li><a routerLink="/skills">Skills</a></li><br>
      <li><a routerLink="/projects">Work</a></li><br>
      <li><a routerLink="/education">Education</a></li><br>
      <li><a routerLink="/experience">Experience</a></li><br>
      <li><a routerLink="/Certifications">Certifications</a></li><br>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </div>
</div>
<!-- navbar ends -->
<!-- work project section starts -->
<section class="work" id="work">

  <h2 class="heading"><i class="fas fa-certificate"></i> Certifications <span>Made</span></h2><br>
  <div class="quote">
    <span>“Great achievement always requires great sacrifice.”</span>
</div>

  <div class="box-container">




    <div class="box tilt">
      <img draggable="false" src="./assets/img/html.jfif" alt="" />
      <div class="content">
        <div class="tag">
        <h3>HTML</h3>
        </div>
        <div class="desc">
          <p>Classify emails as spam or not-spam on the basis of the message.[Naive Bayes, Numpy, Pandas and Sklearn]



            </p>
          <div class="btns">
            <a routerLink="" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>

          </div>
        </div>
      </div>
    </div>




    <div class="box tilt">
      <img draggable="false" src="./assets/img/css1.png" alt="" />
      <div class="content">
        <div class="tag">
        <h3>CSS</h3>
        </div>
        <div class="desc">
          <p>Personal portfolio website. Don't need much info about it, just scroll down. You're here only!</p>
          <div class="btns">
            <a routerLink="" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>

          </div>
        </div>
      </div>
    </div>


    <div class="box tilt">
      <img draggable="false" src="./assets/img/ng.jfif" alt="" />
      <div class="content">
        <div class="tag">
        <h3>Angular</h3>
        </div>
        <div class="desc">
          <p>This is a College Library Website in which you can keep a record of all the books you have issued.
          © 2021 Saurav Mukherjee</p>
          <div class="btns">
            <a routerLink="/library" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>

          </div>
        </div>
      </div>
    </div>



    <div class="box tilt">
      <img draggable="false" src="./assets/img/ts.jfif" alt="" />
      <div class="content">
        <div class="tag">
        <h3>TYPE SCRIPT</h3>
        </div>
        <div class="desc">
          <p>This is an Open Source Website for my Community CodeIN Community built using HTML, CSS, JavaScript and Bootstrap.</p>
          <div class="btns">
            <a href="#" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>

          </div>
        </div>
      </div>
    </div>




    <div class="box tilt">
      <img draggable="false" src="./assets/img/py.jfif" alt="" />
      <div class="content">
        <div class="tag">
        <h3>PYTHON </h3>
        </div>
        <div class="desc">
          <p>Netflix clone App built with React and Redux. The objective of this project is to practising the concepts of 'React-Hooks', 'Redux-Hooks', react-router, redux-setup.</p>
          <div class="btns">
            <a href="#" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>

          </div>
        </div>
      </div>
    </div>

    <div class="box tilt">
      <img draggable="false" src="./assets/img/host.png" alt="" />
      <div class="content">
        <div class="tag">
        <h3>AWS </h3>
        </div>
        <div class="desc">
          <p>Netflix clone App built with React and Redux. The objective of this project is to practising the concepts of 'React-Hooks', 'Redux-Hooks', react-router, redux-setup.</p>
          <div class="btns">
            <a href="#" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>

          </div>
        </div>
      </div>
    </div>





</div>
<div class="nextbtn">
  <a routerLink="/contact" target="_blank" class="btn"><span>Next</span>&nbsp;
   <i class="fas fa-chevron-right"></i>
</a>
</div>

</section>
<!-- work project section ends -->

