<header>
  <a href="/" class="logo"><i class="fab fa-modx"></i> Portfolio</a>

  <div class="container-fluid mt-3 ">

    <div class="btn btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
      <div   id="menu" class="fas fa-bars mnu"></div>
    </div>
  </div>

  <nav class="navbar">
      <ul>
      <li><a class="active" routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/projects">Work</a></li>
      <li><a routerLink="/education">Education</a></li>
      <li><a routerLink="/experience">Experience</a></li>
      <li><a routerLink="/Certifications">Certifications</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </nav>
</header><br><br><br>
<!-- navbar ends -->
<div class="offcanvas offcanvas-start " id="demo">
  <div class="offcanvas-header ">
    <h1 class="offcanvas-title">Responsive Navbar</h1><br><br>
    <button type="button" class="btn-close clo" data-bs-dismiss="offcanvas"></button>
  </div><br><br><br>
  <div class="offcanvas-body marg ">
    <ul class="list">
      <li><a class="active" routerLink="/home">Home</a></li><br>
      <li><a routerLink="/about">About</a></li><br>
      <li><a routerLink="/skills">Skills</a></li><br>
      <li><a routerLink="/projects">Work</a></li><br>
      <li><a routerLink="/education">Education</a></li><br>
      <li><a routerLink="/experience">Experience</a></li><br>
      <li><a routerLink="/Certifications">Certifications</a></li><br>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </div>
</div>
<!-- navbar ends -->


<!-- experience section starts -->
<section class="experience" id="experience">

  <h2 class="heading"><i class="fas fa-briefcase"></i> Experience</h2><br>
  <div class="quote">
      <span>"Every experience in your life is being orchestrated to teach you something you need to know to move forward".</span>
  </div>

  <div class="timeline">







      <div class="container right">
        <div class="content">
          <div class="tag">
            <h2>GT ACADEMY</h2>
          </div><br>
          <div class="desc">
              <h3>Full Stack Developer Intern  </h3><br>
              <p>April 2023 - Jun 2023</p><br>
              <p>Created a Portfolio website and a Ecom web application using angular-js during my internship period.</p>
          </div>
        </div>
      </div>

      <div class="container left">
        <div class="content">
          <div class="tag">
            <h2> HCL TECHNOLOGIES LTD</h2>
          </div><br>
          <div class="desc">
              <h3> Graduate Engineer Trainee</h3><br>
              <p>Jan 2022 - Present</p><br>
              <p>I got trainings in oracle & windows . I learnt Ins & Outs of IT operations</p>
          </div>
        </div>
      </div>



  </div>

  <div class="nextbtn">
    <a routerLink="/experience" target="_blank" class="btn"><span>Next</span>&nbsp;
     <i class="fas fa-chevron-right"></i>
  </a>
  </div>


</section>
<!-- experience section ends -->


