

.txt-danger{
  color: red;
  font-size: larger;
}

.container {
  background: white;
}


.calculator{

  background-color: rgb(214, 214, 214);
  min-height: 100vh;
  background-image: url(/assets/img/login-bg.png);
}

h3{
  color: red;
}

