<!-- navbar starts -->
<header>
  <a href="/" class="logo"><i class="fab fa-modx"></i> Portfolio</a>

  <div class="container-fluid mt-3 ">

    <div class="btn btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
      <div   id="menu" class="fas fa-bars mnu"></div>
    </div>
  </div>

  <nav class="navbar">
      <ul>
      <li><a class="active" routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/projects">Work</a></li>
      <li><a routerLink="/education">Education</a></li>
      <li><a routerLink="/experience">Experience</a></li>
      <li><a routerLink="/Certifications">Certifications</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </nav>
</header><br><br><br>
<!-- navbar ends -->
<div class="offcanvas offcanvas-start " id="demo">
  <div class="offcanvas-header ">
    <h1 class="offcanvas-title">Responsive Navbar</h1><br><br>
    <button type="button" class="btn-close clo" data-bs-dismiss="offcanvas"></button>
  </div><br><br><br>
  <div class="offcanvas-body marg ">
    <ul class="list">
      <li><a class="active" routerLink="">Home</a></li><br>
      <li><a routerLink="/about">About</a></li><br>
      <li><a routerLink="/skills">Skills</a></li><br>
      <li><a routerLink="/projects">Work</a></li><br>
      <li><a routerLink="/education">Education</a></li><br>
      <li><a routerLink="/experience">Experience</a></li><br>
      <li><a routerLink="/Certifications">Certifications</a></li><br>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </div>
</div>
<!-- navbar ends -->



 <!-- about section starts -->
<section class="about" id="about">
  <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2><br>
  <div class="quote">
    <span>"Don't take life serious, enjoy it. Be happy and make others happy too in your life!".</span>
</div>

  <div class="row">

  <div class="image">
      <img draggable="false" class="tilt" src="./assets/img/profile2.jpg" alt="">

  </div>
  <div class="content">
      <h3>I'm Dinesh Kumar</h3><br>
      <span class="tag">Full Stack Developer</span>

      <p>I am a Full-Stack developer based in Tamilnadu, India.
        I am an Computer Engineering undergraduate from Anna University.
        I am very passionate about improving my coding skills & developing applications & websites.
        I build WebApps and Websites using Angular & Python.
        Working for myself to improve my skills.
        Love to build Full-Stack clones. </p>

      <div class="box-container">
          <!-- <div class="box">
            <p><span> age: </span> 20</p>
            <p><span> phone : </span> +91 XXX-XXX-XXXX</p>
          </div> -->
          <div class="box">
            <p><span> email : </span> exploresdk@gmail.com</p>
            <p><span> place : </span> Tamilnadu, India - 600001</p>
          </div>
      </div>

      <div class="resumebtn">
          <a href="https://docs.google.com/document/d/1d4mcQdYojnne5KnWZBEDDIHraaLcGR_1/view" target="_blank" class="btn"><span>Resume</span>
              <i class="fas fa-chevron-right"></i>
          </a>
         </div><br>

       <div class="nextbtn">
       <a routerLink="/skills" target="_blank" class="btn"><span>Next</span>&nbsp;
        <i class="fas fa-chevron-right"></i>
    </a>
  </div>

  </div>
  </div>



</section>



<!-- about section ends -->

<!-- scroll top btn -->
<a routerLink="/skills" aria-label="ScrollTop" class="fas fa-angle-right" id="scroll-top"></a>
<!-- scroll back to top -->



