 <!-- navbar starts -->
 <header>
  <a href="/" class="logo"><i class="fab fa-modx"></i> Portfolio</a>

  <div class="container-fluid mt-3 ">

    <div class="btn btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
      <div   id="menu" class="fas fa-bars mnu"></div>
    </div>
  </div>

  <nav class="navbar">
      <ul>
      <li><a class="active" routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/projects">Work</a></li>
      <li><a routerLink="/education">Education</a></li>
      <li><a routerLink="/experience">Experience</a></li>
      <li><a routerLink="/Certifications">Certifications</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </nav>
</header><br><br>
<!-- navbar ends -->
<div class="offcanvas offcanvas-start " id="demo">
  <div class="offcanvas-header ">
    <h1 class="offcanvas-title">Responsive Navbar</h1><br><br>
    <button type="button" class="btn-close clo" data-bs-dismiss="offcanvas"></button>
  </div><br><br><br>
  <div class="offcanvas-body marg ">
    <ul class="list">
      <li><a class="active" routerLink="/home">Home</a></li><br>
      <li><a routerLink="/about">About</a></li><br>
      <li><a routerLink="/skills">Skills</a></li><br>
      <li><a routerLink="/projects">Work</a></li><br>
      <li><a routerLink="/education">Education</a></li><br>
      <li><a routerLink="/experience">Experience</a></li><br>
      <li><a routerLink="/Certifications">Certifications</a></li><br>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </div>
</div><br>

<!-- navbar ends -->

 <!-- Start Skills Section -->
<div class="back">
 <div class="container">
  <h2 class="heading"><i class="fas fa-laptop-code"></i> Skills <span>& Abilities</span></h2>
  <div class="quote">
    <span>Every skill you acquire doubles your odds of success.</span>
</div>
  <div class="col">
    <h2 class="titulo">Front End</h2>
    <ul class="skill">
      <li><span class="blueline html"></span><em>HTML</em></li>
      <li><span class="blueline css"></span><em>CSS</em></li>
      <li><span class="blueline AngularJS"></span><em>AngularJS</em></li>
      <div class="down text-start">

        <h6><i class="fa fa-caret-right" style="color: lightblue;" ></i>&nbsp; Angular Forms Creation With Validation</h6><br>
        <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/template" class="Sub-Title"><i
              class="bi bi-arrow-return-right"></i> Template-driven forms (Click Me)</a></h6><br>
        <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/reactive"><i
              class="bi bi-arrow-return-right"></i> Reactive forms (Click Me)</a></h6><br>
        <!-- <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/login"><i
              class="bi bi-arrow-return-right"></i> Login form (Click Me)</a></h6><br> -->

        <h6><i class="fa fa-caret-right" style="color: lightblue;" ></i> API (postman)</h6><br>
        <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/landing"><i
              class="bi bi-arrow-return-right"></i> Ecommerce (Click Me)</a></h6><br>


        <!-- <h6><i class="bi bi-caret-right-fill Skill-icon"></i> Forms Creation</h6>  -->




      </div><br><br>

      <li><span class="blueline Typescript"></span><em>Typescript</em></li>
      <h6><i class="fa fa-caret-right" style="color: lightblue;" ></i>&nbsp;   EX: Calculator</h6><br>
      <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/calculator" class="Sub-Title"><i
        class="bi bi-arrow-return-right"></i>Basic Calculator (Click Me)</a></h6>


    </ul>

  </div>
    <div class="col">
    <h2 class="plataformas titulo">Back End</h2>
    <ul class="skill">
      <li><span class="greenline PythonDjango"></span><em>PythonDjango</em></li>


      <h6><i class="fa fa-caret-right" style="color: lightblue;" ></i> Rest Framework API</h6><br>
      <h6>  <a routerLink="/profile"><i
            class="bi bi-arrow-return-right"></i>Post & Get Method Data  Insertion (Click Me)</a></h6><br><br><br>

      <li><span class="greenline DotnetCore "></span><em>ASP.NET Core </em></li>
      <!-- <h6><i class="fa fa-caret-right" style="color: lightblue;" ></i> Create Web API</h6><br> -->
      <h6> <a routerLink="A"><i class="fa fa-caret-right" ></i>&nbsp;Create Web API</a></h6><br><br><br>
    </ul>
  </div>
    <div class="col">
    <h2 class="programas titulo">Database</h2>
    <ul class="skill">

      <li><span class="redline SQL"></span><em>SQL</em></li>

    </ul>
    <div class="down text-start">

      <h6 class="style"><a href="https://www.w3schools.com/sql/sql_intro.asp"><i class="fa fa-caret-right" ></i>&nbsp; SQL Basic</a></h6><br>
      <h6 class="style"><a href="https://www.w3schools.com/sql/sql_select.asp"><i class="fa fa-caret-right" ></i>&nbsp; Select operations</a></h6><br>
      <h6 class="style"><a href="https://www.w3schools.com/sql/sql_stored_procedures.asp"><i class="fa fa-caret-right" ></i>&nbsp; Stored Procedure</a></h6><br>
      <h6 class="style"><a href ="https://www.w3schools.com/sql/sql_join.asp"><i class="fa fa-caret-right" ></i>&nbsp; SQL Joins</a></h6>

  </div>
  </div>
  <div class="col">
    <h2 class="programas titulo">Deveops</h2>
    <ul class="skill">

      <li><span class="yelline AWS"></span><em>AWS</em></li>

    </ul>
    <div class="down text-start">

      <h6 class="style"><a href="https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-creating.html"><i class="fa fa-caret-right" ></i>&nbsp; AWS Account Creation</a></h6><br>
      <h6 class="style"><i class="fa fa-caret-right" ></i>&nbsp; Server Management</h6><br>
      <h6 class="style"><i class="fa fa-caret-right" ></i>&nbsp; Web Hosting</h6><br>
      <h6 class="style"><i class="fa fa-caret-right" ></i>&nbsp; Multiple Server Management</h6>

  </div><br>
  <a routerLink="/projects" class="bnt" style="text-align: center;"><span>Next</span>&nbsp;


    </a>


</div>
</div>
<!-- idea original en: http://www.alessioatzeni.com/blog/css3-skill-bar-animation/ -->

<!-- End Skills Section -->

<!-- scroll top btn -->
<!-- <a routerLink="/projects" aria-label="ScrollTop" class="fas fa-angle-right" id="scroll-top"></a> -->
<!-- scroll back to top -->





