<nav>
  <h2 class="logo">DKDev</h2>
  <div class="bars">
    <i class="fa fa-bars"></i>
  </div>
  <ul class="nav-links">
    <li class="nav-link"><a routerLink="/projects">Home</a></li>
    <li class="nav-link"><a routerLink="/rtform">Angular Form</a></li>
    <li class="nav-link"><a routerLink="/contact">Contact</a></li>

  </ul>
</nav><br><br>

<section class="calculator" id="calculator">
<div id="box-with-image" class="col-md-12">


  <button class="block" ><b>Welcome to Angular Forms</b></button>

</div>

</section>
