<!-- navbar starts -->
<header>
  <a href="/" class="logo"><i class="fab fa-modx"></i> Portfolio</a>

  <div class="container-fluid mt-3 ">

    <div class="btn btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
      <div   id="menu" class="fas fa-bars mnu"></div>
    </div>
  </div>

  <nav class="navbar">
      <ul>
      <li><a class="active" routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/projects">Work</a></li>
      <li><a routerLink="/education">Education</a></li>
      <li><a routerLink="/experience">Experience</a></li>
      <li><a routerLink="/Certifications">Certifications</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </nav>
</header><br><br><br>
<!-- navbar ends -->
<div class="offcanvas offcanvas-start " id="demo">
  <div class="offcanvas-header ">
    <h1 class="offcanvas-title">Responsive Navbar</h1><br><br>
    <button type="button" class="btn-close clo" data-bs-dismiss="offcanvas"></button>
  </div><br><br><br>
  <div class="offcanvas-body marg ">
    <ul class="list">
      <li><a class="active" routerLink="/home">Home</a></li><br>
      <li><a routerLink="/about">About</a></li><br>
      <li><a routerLink="/skills">Skills</a></li><br>
      <li><a routerLink="/projects">Work</a></li><br>
      <li><a routerLink="/education">Education</a></li><br>
      <li><a routerLink="/experience">Experience</a></li><br>
      <li><a routerLink="/Certifications">Certifications</a></li><br>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </div>
</div>
<!-- navbar ends -->

<!-- work project section starts -->
<section class="work" id="work">

  <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2><br>
  <div class="quote">
   <span>“Self-belief and hard work will always earn you success.” </span>
</div>

  <div class="box-container">




    <div class="box tilt">
      <img draggable="false" src="./assets/img/cal2.jfif" alt="" />
      <div class="content">
        <div class="tag">
        <h3>Calculator</h3>
        </div>
        <div class="desc">
          <p><b>Calculator Project Done By[Html, Css]</b>



            </p>
          <div class="btns">
            <a routerLink="/calculator" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            <a href="https://github.com/Dineshcoder0?tab=repositories" class="btn" target="_blank"><i class="fas fa-code"></i> Code</a>
          </div>
        </div>
      </div>
    </div>




    <div class="box tilt">
      <img draggable="false" src="./assets/img/portfolio-0.png" alt="" />
      <div class="content">
        <div class="tag">
        <h3>Portfolio Website</h3>
        </div>
        <div class="desc">
          <p>Personal portfolio website. Don't need much info about it, just scroll down. You're here only!</p>
          <div class="btns">
            <a routerLink="" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            <a href="https://github.com/Dineshcoder0?tab=repositories" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div>


    <div class="box tilt">
      <img draggable="false" src="./assets/img/ngform.png" alt="" />
      <div class="content">
        <div class="tag">
        <h3>Angular Forms </h3>
        </div>
        <div class="desc">
          <p>This is an Open Source Website for Angular Forms built using HTML, CSS, JavaScript and Bootstrap.</p>
          <div class="btns">
            <a routerLink="/form" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            <a href="https://github.com/Dineshcoder0?tab=repositories" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div>



    <div class="box tilt">
      <img draggable="false" src="./assets/img/orsh.png" alt="" />
      <div class="content">
        <div class="tag">
        <h3>Ecommerce </h3>
        </div>
        <div class="desc">
          <p>This is an Open Source Website for Ecommerce built using HTML, CSS, JavaScript and Bootstrap.</p>
          <div class="btns">
            <a routerLink="/landing" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            <a href="https://github.com/Dineshcoder0?tab=repositories" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div>



    <div class="box tilt">
      <img draggable="false" src="./assets/img/api1.jfif" alt="" />
      <div class="content">
        <div class="tag">
        <h3>Post & Get API </h3>
        </div>
        <div class="desc">
          <p>This is an API to submit and getting data from method of post & get</p>
          <div class="btns">
            <a routerLink="/sign" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            <a href="https://github.com/Dineshcoder0?tab=repositories" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>
        </div>
      </div>
    </div>


    <div class="box tilt">
      <img draggable="false" src="./assets/img/rest.jfif" alt="" />
      <div class="content">
        <div class="tag">
        <h3>PYTHON DJANGO (Rest API Framework) </h3>
        </div>
        <div class="desc">
          <p>API - POST & GET METHOD FROM PYTHON DJANGO Rest API Framework</p>
          <div class="btns">
            <a routerLink="/profile" class="btn" target="_blank"><i class="fas fa-eye"></i> View</a>
            <a href="https://github.com/Dineshcoder0?tab=repositories" class="btn" target="_blank">Code <i class="fas fa-code"></i></a>
          </div>




        </div>
      </div>
    </div>





<div class="viewall">
  <a routerLink="/viewall" class="btn"><span> view all</span>
    <i class="fas fa-arrow-right"></i>
    </a>
    </div>
    <div class="view">
    <a routerLink="/viewall" class="btn"><span>Next</span>
      <i class="fas fa-arrow-right"></i>
</a>


</div>


</div>
<!-- <a routerLink="/education" class="bnt" style="text-align: center;"><span>Next</span>&nbsp;
  <i class="fas fa-arrow-circle-right"></i>

</a> -->

</section>
<!-- work project section ends -->

<!-- scroll top btn -->
<a routerLink="/education" aria-label="ScrollTop" class="fas fa-angle-right" id="scroll-top"></a>
<!-- scroll back to top -->

