<header>
  <a href="/" class="logo"><i class="fab fa-modx"></i> Portfolio</a>

  <div class="container-fluid mt-3 ">

    <div class="btn btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
      <div   id="menu" class="fas fa-bars mnu"></div>
    </div>
  </div>

  <nav class="navbar">
      <ul>
      <li><a class="active" routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/skills">Skills</a></li>
      <li><a routerLink="/projects">Work</a></li>
      <li><a routerLink="/education">Education</a></li>
      <li><a routerLink="/experience">Experience</a></li>
      <li><a routerLink="/Certifications">Certifications</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </nav>
</header><br><br><br>
<!-- navbar ends -->
<div class="offcanvas offcanvas-start " id="demo">
  <div class="offcanvas-header ">
    <h1 class="offcanvas-title">Responsive Navbar</h1><br><br>
    <button type="button" class="btn-close clo" data-bs-dismiss="offcanvas"></button>
  </div><br><br><br>
  <div class="offcanvas-body marg ">
    <ul class="list">
      <li><a class="active" routerLink="/">Home</a></li><br>
      <li><a routerLink="/about">About</a></li><br>
      <li><a routerLink="/skills">Skills</a></li><br>
      <li><a routerLink="/projects">Work</a></li><br>
      <li><a routerLink="/education">Education</a></li><br>
      <li><a routerLink="/experience">Experience</a></li><br>
      <li><a routerLink="/Certifications">Certifications</a></li><br>
      <li><a routerLink="/contact">Contact</a></li>
      </ul>
  </div>
</div>
<!-- navbar ends -->

<!-- education section starts -->
<section class="education" id="education">

  <h1 class="heading"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1><br>

    <p class="qoute">"Education is not the learning of facts, but the training of the mind to think".</p>

    <div class="box-container">

    <div class="box">
        <div class="image">
        <img draggable="false" src="./assets/img/svs.jfif" alt="">
        </div>
        <div class="content">
        <h3>Bachelor of Engineering in Computer Science & Engineering</h3>
        <p>SVS College Of Engineering | Anna university</p>
        <h4>2017-2021 | 76.1</h4>
        </div>
    </div>

    <div class="box">
      <div class="image">
      <img draggable="false" src="./assets/img/sschool1.jfif" alt="">
      </div>
      <div class="content">
      <h3>HSC Science </h3>
      <p>Veveaham Boys Hr Sec School | State Board</p>
      <h4>2015-2017 | 83%</h4>
      </div>
    </div>

    <div class="box">
      <div class="image">
      <img draggable="false" src="./assets/img/school.jfif" alt="">
      </div>
      <div class="content">
      <h3>SSLC Science </h3>
      <p>Little Flower Convent Mat Hr Sec School | State Board</p>
      <h4>2013-2015 | 92%</h4>
      </div>
    </div>

</div><br>

<div class="nextbtn">
  <a routerLink="/experience" target="_blank" class="btn"><span>Next</span>&nbsp;
   <i class="fas fa-chevron-right"></i>
</a>
</div>
</section>
<!-- education section ends -->



<!-- scroll top btn -->
<a routerLink="/experience" aria-label="ScrollTop" class="fas fa-angle-right" id="scroll-top"></a>
<!-- scroll back to top -->


